@model IEnumerable<GigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Who I Follow</h2>
<ul class="voffset3">
    @foreach (var artist in Model)
    {
        <li>@artist.Name</li>
    }
</ul>