@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>@gig.DateTime - @gig.Artist.UserName </li>
    }
</ul>
